.alarm{
    border-left: 4px solid;
    border-left-color: #ff3333;
  }
  .alarm .mat-icon{
    padding-left: 0px;
  }
  mat-nav-list{
    padding-top:0px;
  }
  mat-list-item{
    margin: 1px 0 1px 0;
  }